<div class="jumbotron">
  <h2>Choose the collaborators for your <%= @wiki.title %> Wiki (showing all users)</h2>
  <br>
  <br>
  <div class="row">
    <div class="col-md-4">
      <h3>Name</h3>
    </div>
    <div class="col-md-4">
      <h3>Email</h3>
    </div>
    <div class="col-md-4">
      <h3>Give Access</h3>
    </div>
  </div>
  <br>
  <% @users.each do |user| %>
    <div class="row">
      <div class="col-md-4">
      <h4><%= user.name %></h4>
      </div>
      <div class="col-md-4">
      <h4><%= user.email %></h4>
      </div>
      <div class="col-md-4">
        <%= render partial: 'collaborators/collaborator', locals: {wiki: @wiki, user: user} %>
      </div>
    </div>
  <% end %>
</div>
